
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h1 {
        color: white;
    }

    h1 {
        font-size: 64px;
    }

    p {
        color: #3a3a3a;
    }

    body {
        background-color: #f0f0f0;
        background: url(/images/wall_background.png) no-repeat center center fixed;
        background-size: cover;
    }
    .dev {
        background-color:black;
        width: 20rem; height: 20rem;
        margin-left:auto;
        margin-right:auto;
        object-fit: scale-down;
    }
</style>
<div class="container margin-container">
    <div class="row text-center full-height">
        <div class="login-register-container">
            <img src="~/images/headers/about_txt.png" alt="About" />
            <h3> Introduction</h3>
            <p class="text-left">Delve into the Dark is a text-based game loosely based on the famous role-playing game, Dungeons and Dragons. Delve into the Dark is a web-application developed with C# in the ASP.NET Core Framework. The SQL Server is a Microsoft Azure server hosted on the cloud to maintain concurrency. Many aspects of the game will be held in a SQL database. The player will have the freedom to make their own character and make decisions that affect the outcome of the game. The application will also support logging in and save files. The player will go through a series of options presented to them. They will either go through combat and investigations until the end of the story. Things that will be held in the database will be items, stats, and player progression. </p>
            <h3> Tools</h3>
            <p class="text-left">
                The languages and frameworks used in this project is C# for the back-end, JavaScript, HTML, and CSS for the front end, Bootstrap for the library, and ASP.NET for the framework. The setup of the site is MVC, which we selected because of how much easier and organized it is to work with. The database connection is made with .NET Entity Framework.
                Delve into the Dark’s database is hosted by Microsoft Azure. To store the user’s information and manage their game data, we will be utilizing a database hosted by Microsoft Azure and can be connected to using either Microsoft SQL Server Management Studio or by the web app itself. We have decided to go with a database hosted on the cloud to support concurrency between ourselves as we populate/change the tables and also because we are considering implementing an area where players could exchange/sell their items to other players.
                For our version control, we are using GitHub. For security and safety, our master branch is protected and all merge requests must be approved by at least one other  group member. We manage project tracking via the “projects” tab in GitHub.
                The project itself is being developed through Visual Studio 2019 on the Windows OS. We are all using the same development platform because the project was created as a Visual Studio project.
            </p>
            <h3> Developers</h3>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <img id="CEImg" src="~/images/graphic.jpg" class="img-circle img-thumbnail dev" />
                    <h4>Catherine Etter</h4>
                    <a href="https://github.com/CatherineEtter">Github</a> / <a href="https://www.linkedin.com/in/catherine-e-0b1299103/">LinkedIn</a>
                </div>
                <div class="col-sm-4 col-md-4">
                    <img id="TFImg" src="~/images/graphic3.jpg" class="img-circle img-thumbnail dev" onmouseover="$(this).attr('src', '/images/girl.jpg');"/>
                    <h4>Tamas Ferenczi</h4>
                    <a href="https://github.com/Tferenczi">Github</a> / <a href="https://www.linkedin.com/in/tamas-ferenczi-8a980b15a/">LinkedIn</a>
                </div>
                <div class="col-sm-4 col-md-4">
                    <img id="HMImg" src="~/images/graphic2.jpg" class="img-circle img-thumbnail dev" onmouseover="$(this).attr('src', '/images/cat.jpg');"/>
                    <h4>Hailey Martinez</h4>
                    <a href="https://github.com/HMartinez20">Github</a> / <a href="https://www.linkedin.com/in/hailey-martinez-b4a702132/">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</div>





