@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1 class="center-block">This is the Main Page  <span class="badge badge-secondary">New</span></h1>
</div>

<div class="jumbotron">
    <h1>Jumbotron</h1>
</div>
