@using Amarath.DAL.Models;
@using Amarath.DAL.Data;
@using Microsoft.EntityFrameworkCore;

@inject UserManager<IdentityUserExt> userManager;

@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    //Get the logged in user and their character
    var optionsBuilder = new DbContextOptionsBuilder<AmarathContext>();
    var dbContext = new AmarathContext(optionsBuilder.Options);

    var cUser = await userManager.GetUserAsync(User);
    var cChar = dbContext.Characters.First(x => x.UserId == cUser.Id);
}
<style>
    html, body {
        background-color: #000000;
        height: 100%;
    }

    container {
        padding: 0px;
    }
</style>
<div class="game-container text-center main-font">
    <div class="game-header">
        <div class="row">
            <p class="col-sm-2">@cChar.Name</p>
            <p class="col-sm-1">Lvl. @cChar.Rank</p>
            <p class="col-sm-6">Health</p>
            <button class="col-sm-2 btn btn-default main-font" data-toggle="modal" data-target="#statsModal">Stats</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">Left</div>
        <div class="col-md-4">Right</div>
    </div>
    <div class="game-footer">
        <div class="row">
            <div class="col-sm-8">
                <input class="body-font" value="test" />
            </div>
            <button class="col-sm-2 btn btn-default main-font">Inventory</button>
        </div>
        <!---
        <div class="row">
            <input class="col-md-8" value="Test"/>
            <button class="col-md-4 btn btn-default">Inventory</button>
        </div>
        -->
    </div>
</div>

<!--Inventory Modal-->
<div class="modal fade" id="statsModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@cChar.Name 's Inventory</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>modal :)</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><img src="~/images/Back_Button.png"/></button>
            </div>
        </div>
    </div>
</div>
