
@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    html,body {
        background-color: #f0f0f0;
        height: 100%;
    }
</style>
<div class="container game-container">
    <div class="panel panel-default game-header">Header</div>
    <div class="row">
        <div class="col-md-8">Left</div>
        <div class="col-md-4">Right</div>
    </div>
    <div class="panel panel-default game-footer">Footer</div>
</div>
