@using Amarath.DAL.Models;
@using Amarath.DAL.Data;
@using Microsoft.EntityFrameworkCore;

@inject UserManager<IdentityUserExt> userManager;

@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    //Get the logged in user and their character
    var optionsBuilder = new DbContextOptionsBuilder<AmarathContext>();
    var dbContext = new AmarathContext(optionsBuilder.Options);

    var cUser = await userManager.GetUserAsync(User);
    var cChar = dbContext.Characters.First(x => x.UserId == cUser.Id);
}
<style>
    html, body {
        background-color: #000000;
        height: 100%;
    }

    container {
        padding: 0px;
    }
</style>
<div class="game-container text-center">
    <div class="game-header">
        <div class="row">
            <span class="col-sm-2">@cChar.Name</span>
            <span class="col-sm-1">@cChar.Rank</span>
            <span class="col-sm-6">Health</span>
            <button class="col-sm-2 btn btn-default">Stats</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">Left</div>
        <div class="col-md-4">Right</div>
    </div>
    <div class="game-footer">
        <div class="row">
            <div class="col-sm-8">
                <input value="test" />
            </div>
            <button class="col-sm-2 btn btn-default">Inventory</button>
        </div>
        <!---
        <div class="row">
            <input class="col-md-8" value="Test"/>
            <button class="col-md-4 btn btn-default">Inventory</button>
        </div>
        -->
    </div>
</div>
