/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    width: 100%;
    margin: 0px;
}
.margin-container {
    margin-right: auto;
    margin-left: auto;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.full-height {
    height: 100%;
    min-height: 100%;
}
.login-register-container {
    background: url(/images/yellow_parchment.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 300px;
    margin: 20px auto 20px auto;
    box-shadow: 5px 10px 5px #242424;
    color: #000000;
    padding: 20px;
    border: 5px groove #4b2e12;
}
.login-container {
   /* background-color: #5b5478;*/
    background-color: #998dc9;
}

.register-container {
    /* background-color: #5b5478;*/
    background-color: #998dc9;
}
.login-register-container form .form-group input{
    color: #000000;
}
.form-group-required label::after{
    content: " * ";
    color: red;
}
.btn-outline {
    background-color: transparent;
    text-decoration: none;
    border-color: rgba(255,255,255,0.2);
}
.btn-outline:hover, .btn-outline:active{
    text-decoration: none;
}
.list-group-item {
    background-color: transparent;
}
.light-text {
    color: #e6e6e6;
}
.game-container {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    position: relative;
    display: flex;
    flex-direction: column;
}
.game-footer {
    /*
    position: absolute;
    bottom: 0px;
    */
}
.game-footer, .game-header {
    width: 100%;
    height: 80px;
    background-color: #998dc9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-modal {
    background-color: rgba(0, 0, 0, 0.6);
    color: #808080;
}
#game-dialog-box {
    color: #e8e8e8;
    font: 14px monaco, consolas;
    overflow: auto;
    height: 100%;
}
#game-action-box {
    background-color: #272727;
    color: #f5f5f5;
    font: 14px monaco, consolas;
    overflow: auto; 
    height: 100%;
}
#game-stage {
    flex: 1;
}
.main-font {
    font: bold 18px copperplate, verdana;
}
.main-font-sm {
    font: bold 10px copperplate, verdana;
}
.body-font {
    font: 18px monaco, consolas;
}
.body-font-sm {
    font-size: 12px;
}
.max-width {
    width: 100%;
}
.center-children {
    display: flex;
    justify-content: center;
    align-items: center;
}