@model Amarath.DAL.Models.RegisterViewModel;

@{
    ViewData["Title"] = "Register";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #f0f0f0;
        background: url(/images/wall_background.png) no-repeat center center fixed;
        background-size: cover;
    }
</style>
<div class="container margin-container">
    <div class="row text-center full-height center-children">
        <div class="col-md-6">
            <div class="register-container login-register-container">
                <form id="register-form" class="center-block" runat="server" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <img src="~/images/headers/register_txt.png" alt="Register"/>

                    <div class="form-group form-group-required">
                        <label asp-for="Username" runat="server"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" runat="server"></label>
                        <input asp-for="FirstName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" runat="server"></label>
                        <input asp-for="LastName" class="form-control" />
                    </div>
                    <div class="form-group form-group-required">
                        <label asp-for="EmailAddress" runat="server"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group form-group-required">
                        <label asp-for="Password" runat="server"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-group-required">
                        <label asp-for="ConfirmPassword" runat="server"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-default" type="submit" value="Create an Account" />
                    </div>

                </form>
                <div>
                    <p>Please register or <a asp-area="" asp-controller="Account" asp-action="Login">login</a> to play</p>
                </div>
            </div>
        </div>
    </div>
</div>